# Archivos de Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
crash.log
crash.*.log

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
